<div class='container'>
  <h1> First Year </h1>
  <h3> Semester 1 </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>CSCA08</td>
          <td> Introduction to Computer Science I </td>
        </tr>
        <tr>
          <td>MATA31</td>
          <td> Calculus I </td>
        </tr>
        <tr>
          <td>CSCA67</td>
          <td> Discrete Mathematics </td>
        </tr>
        <tr>
          <td>ASTA01</td>
          <td> Introduction to Astronomy </td>
        </tr>
        <tr>
          <td>LINA01</td>
          <td> Introduction to Linguistics </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Semester Two </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>CSCA48</td>
          <td> Introduction to Computer Science II </td>
        </tr>
        <tr>
          <td>MATA37</td>
          <td> Calculus II </td>
        </tr>
        <tr>
          <td>PHLA11</td>
          <td> Introduction to Ethics </td>
        </tr>
        <tr>
          <td>MATA23</td>
          <td> Linear Algebra I </td>
        </tr>
        <tr>
          <td>MGTA01</td>
          <td> Introduction to Business </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
