<div class='container'>
  <h1> First Year </h1>
  <h3> Semester 1 </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>CSCA08</td>
          <td> Introduction to Computer Science I </td>
        </tr>
        <tr>
          <td>MATA31</td>
          <td> Calculus I </td>
        </tr>
        <tr>
          <td>CSCA67</td>
          <td> Discrete Mathematics </td>
        </tr>
        <tr>
          <td>ASTA01</td>
          <td> Introduction to Astronomy </td>
        </tr>
        <tr>
          <td>LINA01</td>
          <td> Introduction to Linguistics </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Semester Two </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>CSCA48</td>
          <td> Introduction to Computer Science II </td>
        </tr>
        <tr>
          <td>MATA37</td>
          <td> Calculus II </td>
        </tr>
        <tr>
          <td>PHLA11</td>
          <td> Introduction to Ethics </td>
        </tr>
        <tr>
          <td>MATA23</td>
          <td> Linear Algebra I </td>
        </tr>
        <tr>
          <td>MGTA01</td>
          <td> Introduction to Business </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1> Second Year </h1>
  <h3> Semester 1 </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>COPD03</td>
          <td> Coop Preparation </td>
        </tr>
        <tr>
          <td>CSCB09</td>
          <td> Software Tools and Systems Programming </td>
        </tr>
        <tr>
          <td>CSCB36</td>
          <td> Introduction to the Theory of Computation </td>
        </tr>
        <tr>
          <td>CSCB58</td>
          <td> Computer Organization </td>
        </tr>
        <tr>
          <td>STAB52</td>
          <td> Introduction to Probability </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Semester Two </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>COPD11</td>
          <td> Job Search for Work Term 1 </td>
        </tr>
        <tr>
          <td>CSCB07</td>
          <td> Software Design </td>
        </tr>
        <tr>
          <td>MATB24</td>
          <td> Linear Algebra II </td>
        </tr>
        <tr>
          <td>MGEA01</td>
          <td> Introduction to Microeconomics </td>
        </tr>
        <tr>
          <td>MGTA02</td>
          <td> Managing the Business Organization </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1> Third Year </h1>
  <h3> Semester 1 </h3>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Course Code </th>
          <th>Course Info </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>COPD12</td>
          <td> Integrating Work Term Experience </td>
        </tr>
        <tr>
          <td>CSCC01</td>
          <td> Introduction to Software Engineering </td>
        </tr>
        <tr>
          <td>CSCC10</td>
          <td> Human Computer Interaction </td>
        </tr>
        <tr>
          <td>EESA10</td>
          <td> Human Health and the Environment </td>
        </tr>
        <tr>
          <td>MATB41</td>
          <td> Multivariable Calculus </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
