<style>
  * {padding: 0; margin: 0;}
  canvas {background: #eee; display: block;}
</style>

<div style='padding: 20px;'>
<canvas class='gameScreen' id='spaceshipGame' width='480' height='320' ></canvas>
</div>

<script>
  var canvas = document.getElementById('spaceshipGame');
  var ctx = canvas.getContext('2d');

  var lives = 3;
  var score = 0;
  var shipX = canvas.width/2;
  var shipY = canvas.height/2;
  var shipRadius = 20;
  var shipInnerRadius = 10;

  var goldRadius = 10;
  var goldX = Math.random() * canvas.width;
  var goldY = Math.random() * canvas.height;

  var asteroidRadius = 5;
  var asteroids = [];
  var asteroidX;
  var asteroidY;

  var asteroidDX = 2;
  var asteroidDY = -2;

  var animationFrame;

  //Initialize asteroid coords
  var nonMatchX = false;
  var nonMatchY = false;

  while(!nonMatchX) {
    var candidateX = Math.random() * canvas.width;
    if ((candidateX < shipX - shipRadius + 50) || (candidateX > shipX + shipRadius + 50)) {
      asteroidX = candidateX;
      nonMatchX = true;
    }
  }

  while(!nonMatchY) {
    var candidateY = Math.random() * canvas.height;
    if ((candidateY < shipY - shipRadius + 50) || (candidateY > shipY + shipRadius + 50)) {
      asteroidY = candidateY;
      nonMatchY = true;
    }
  }

  document.addEventListener('mousemove', mouseMoveHandler, false);

  function drawShip() {
    ctx.beginPath();
    ctx.arc(shipX, shipY , shipRadius, 0, Math.PI*2);
    ctx.fillStyle = "#CCCCFF";
    ctx.fill();
    ctx.closePath();

    ctx.beginPath();
    ctx.arc(shipX, shipY, shipInnerRadius, 0, Math.PI*2);
    ctx.fillStyle = "#E7F118";
    ctx.fill();
    ctx.closePath();

  }

  function drawAsteroid() {
    ctx.beginPath();
    ctx.arc(asteroidX, asteroidY , asteroidRadius, 0, Math.PI*2);
    ctx.fillStyle = "#666";
    ctx.fill();
    ctx.closePath();
  }

  function drawGold() {
    ctx.beginPath();
    ctx.arc(goldX, goldY, goldRadius, 0, Math.PI*2);
    ctx.fillStyle = "#FFF800";
    ctx.fill();
    ctx.closePath();
  }

  function asteroidCollision(){
    if ((asteroidX > shipX - shipRadius - 2) && (asteroidX < shipX + shipRadius - 2)) {
      if ((asteroidY > shipY - shipRadius - 2) && (asteroidY < shipY + shipRadius - 2)) {
        console.log('hit');
      }
    }
  }

  function mouseMoveHandler(e) {
    shipX = e.clientX - canvas.offsetLeft;
    shipY = e.clientY - canvas.offsetTop;
  }

  function draw() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    if (asteroidX + asteroidDX > canvas.width || asteroidX + asteroidDX < 0) {
      asteroidDX = -asteroidDX;
    }

    if (asteroidY + asteroidDY > canvas.height || asteroidY + asteroidDY < 0) {
      asteroidDY = -asteroidDY;
    }

    asteroidX += asteroidDX;
    asteroidY += asteroidDY;

    drawShip();
    drawAsteroid();
    drawGold();
    asteroidCollision();
    animationFrame = requestAnimationFrame(draw);
  }

  draw();

</script>
